# Get your free key at https://openrouteservice.org/dev/#/signup
# Free tier: 2000 requests/day — more than enough
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImM0YmIxOTY3M2U3ZjQ0ZTdhNGM0M2FiOTIyZjRkM2YyIiwiaCI6Im11cm11cjY0In0=
SECRET_KEY=my-first-100dollarspython
DEBUG=True
